{% extends "base.html.twig" %}

{% block body %}
    <!-- DEBUT : Barre de navigation -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <img id='uplogo' src='{{ asset('bundles/universalpharmatraitement/images/universalpharmalogo.jpg') }}' alt='uplogo'/>
            </div> 
            <div class="navbar-header">             
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('universal_pharmatraitement_dashboard') }}">Tableau de bord</a></li>
                    <li><a href="{{ path('universal_pharmatraitement_cpuser') }}">Compte</a></li>
                    <li><a href="{{ path('universal_pharmatraitement_frais') }}">Gestion des frais</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><form class="navbar-form navbar-right" method="post" action="../controller/c_homepage.php">  
                            <button type="submit" class="btn btn-default">Déconnexion</button>
                        </form></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- FIN : Barre de navigation -->

    <!--DEBUT SOUS HEADER-->  
    <div class="col-md-12">    
        <div class="row" id="encart_vert">
            <div class="col-sm-1">
                <img id="picot-ss-head" src="{{ asset('bundles/universalpharmatraitement/images/TBBORD.png') }}">
            </div>
            <div class="col-sm-2">
                <h5 id="sous_head">Bonjour {{ nom }}</h5>  
            </div>
            <div class="col-sm-9 text-right">
                <h5 id="sous_head">Rôle : {{ role }}</h5>
            </div>
        </div>
    </div> 
    <!--FIN SOUS HEADER-->  

    <!--DEBUT BLOC TEXTE--> 
    <div class="col-md-12 text-center"  >
        <br>
        <h2 id="titre_block-texte">Mon Compte</h2>
        <p id="block-texte">
            Retrouvez ou mettez à jour, vos informations personnelles.              
        </p>

    </div>
    <!--FIN BLOC TEXTE--> 

    <div id="blanc" class="row"> 
        <div class="col-md-12"></div>               
    </div>


    <div class="col-md-12" >
        <div class="col-md-3 center-block" ></div>
        <div class="col-md-6 center-block" id="encart_vert">
            <br>

            <div class="form-group">
                <label class="col-sm-4 control-label">Civilité :</label>
                <div class="col-sm-20">
                    <h5 id="texte_formulaire" class="form-control-static">{{utilisateur.civutilisateur}}</h5>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Nom :</label>
                <div class="col-sm-20">
                    <h5 id="texte_formulaire" class="form-control-static">{{utilisateur.nomUtilisateur}}</h5>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Prénom :</label>
                <div class="col-sm-20">
                    <h5 id="texte_formulaire" class="form-control-static">{{utilisateur.prenomutilisateur}}</h5>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Date d'embauche :</label>
                <div class="col-sm-20">
                    <h5 id="texte_formulaire" class="form-control-static">{{utilisateur.datembauche|date('d-m-Y')}}</h5>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Etat :</label>
                <div class="col-sm-20">
                    <h5 id="texte_formulaire" class="form-control-static">{{utilisateur.etatutilisateur}}</h5>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Rôle</label>
                <div class="col-sm-20">
                    <h5 id="texte_formulaire" class="form-control-static">{{utilisateur.idroles.libroles}}</h5>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Login :</label>
                <div class="col-sm-20">
                    <h5 id="texte_formulaire" class="form-control-static">{{utilisateur.loginutilisateur}}</h5>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Adresse email :</label>
                <div class="col-sm-20">
                    <h5 id="texte_formulaire" class="form-control-static">{{utilisateur.mailutilisateur}}</h5>
                </div>
            </div>
            <!-- DEBUT : FORMULAIRE -->
            {{form_start(formUtilisateur) }}
            <div class="form-group">
                <label for="inputPassword" class="col-sm-4 control-label">Mot de passe :</label>
                <div class="col-sm-20">
                    {{form_widget(formUtilisateur.MiseaJour, { 'label': 'MISE A JOUR' },{'attr': {'class': 'btn btn-inverse'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{form_label(formUtilisateur.adressutilisateur, 'Adresse :',{'attr': {'class': 'col-sm-4 control-label'}})}}
                <div class="col-sm-20">
                    {{form_widget(formUtilisateur.adressutilisateur,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{form_label(formUtilisateur.cputilisateur, 'Code postal :',{'attr': {'class': 'col-sm-4 control-label'}})}}
                <div class="col-sm-20">
                    {{form_widget(formUtilisateur.cputilisateur,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{form_label(formUtilisateur.villutilisateur, 'Ville :',{'attr': {'class': 'col-sm-4 control-label'}})}}
                <div class="col-sm-20">
                    {{form_widget(formUtilisateur.villutilisateur,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-sm-24 center-block">
                    {{form_widget(formUtilisateur.Modifier,{'attr': {'class': 'btn btn-success'}}) }}
                    {{form_widget(formUtilisateur.Retour,{'attr': {'class': 'btn btn-inverse'}}) }}
                </div>
            </div>
            {{form_end(formUtilisateur) }}
            <!-- FIN : FORMULAIRE -->
            <br>
        </div>
        <div class="col-md-3 center-block" ></div>
    </div>


{% endblock %}
