{% extends "base.html.twig" %}

{% block body %}
    <!-- DEBUT : Barre de navigation -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <img id='uplogo' src='{{ asset('bundles/universalpharmatraitement/images/universalpharmalogo.jpg') }}' alt='uplogo'/>
            </div> 
            <div class="navbar-header">             
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('universal_pharmatraitement_dashboard') }}">Tableau de bord</a></li>
                    <li><a href="{{ path('universal_pharmatraitement_cpuser') }}">Compte</a></li>
                    <li><a href="{{ path('universal_pharmatraitement_frais') }}">Gestion des frais</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><form class="navbar-form navbar-right" method="post" action="../controller/c_homepage.php">  
                            <button type="submit" class="btn btn-default">Déconnexion</button>
                        </form></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- FIN : Barre de navigation -->

    <!--DEBUT SOUS HEADER-->  
    <div class="col-md-12">    
        <div class="row" id="encart_vert">
            <div class="col-sm-1">
                <img id="picot-ss-head" src="{{ asset('bundles/universalpharmatraitement/images/TBBORD.png') }}">
            </div>
            <div class="col-sm-2">
                <h5 id="sous_head">Bonjour {{ nom }}</h5>  
            </div>
            <div class="col-sm-9 text-right">
                <h5 id="sous_head">Rôle : {{ role }}</h5>
            </div>
        </div>
    </div> 
    <!--FIN SOUS HEADER-->  

    <!--DEBUT BLOC TEXTE-->      
    <div class="col-md-12 text-center"  >
        <br>
        <h2 id="titre_block-texte">Mon Tableau de bord.</h2>
        <p id="block-texte">
            Cette page vous permet : <br>
            . de modifier votre compte personnel.<br>
            . de gérer les frais des consultants.
        </p>
    </div>
    <!--FIN BLOC TEXTE--> 

    <div id="blanc" class="row"> 
        <div class="col-md-12"></div>               
    </div>

    <!--DEBUT PICTO TABLEAU DE BORD-->
    <div class="container" id="texte_picto">    
        <div class="row">
            <div class="col-xs-offset-3 col-sm-3 col-xs-3">  
                <a href="{{ path('universal_pharmatraitement_cpuser') }}"><img id="picto_tbbord" src="{{ asset('bundles/universalpharmatraitement/images/compte.jpg') }}" class="Compte" alt="Image"></a>
                <br>
                <p><b>Compte</b></p>
            </div>
            <div class="col-sm-3 col-xs-3">  
                <a href="{{ path('universal_pharmatraitement_frais') }}"><img id="picto_tbbord" src="{{ asset('bundles/universalpharmatraitement/images/frais.jpg') }}" class="Frais" alt="Image"></a>
                <br>
                <p><b>Gestion des Frais</b></p>
            </div>        
        </div>
    </div>
    <!--FIN PICTO TABLEAU DE BORD-->

    <div id="blanc" class="row"> 
        <div class="col-md-12"></div>               
    </div>

    <!-- DEBUT : CAROUSSEL-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{{ asset('bundles/universalpharmatraitement/images/photo_carousel_01.jpg') }}" alt="Image" class='img-responsive'>
                <div class="carousel-caption">
                </div>      
            </div>

            <div class="item">
                <img src="{{ asset('bundles/universalpharmatraitement/images/photo_carousel_02.jpg') }}" alt="Image" class='img-responsive'>
                <div class="carousel-caption">
                </div>      
            </div>

            <div class="item">
                <img src="{{ asset('bundles/universalpharmatraitement/images/photo_carousel_03.jpg') }}" alt="Image" class='img-responsive'>
                <div class="carousel-caption">
                </div>      
            </div>

            <div class="item">
                <img src="{{ asset('bundles/universalpharmatraitement/images/photo_carousel_04.jpg') }}" alt="Image" class='img-responsive'>
                <div class="carousel-caption">
                </div>      
            </div>

            <div class="item">
                <img src="{{ asset('bundles/universalpharmatraitement/images/photo_carousel_05.jpg') }}" alt="Image" class='img-responsive'>
                <div class="carousel-caption">
                </div>      
            </div>
        </div>           
    </div>
    <!-- FIN : CAROUSSEL-->
{% endblock %}