{% extends "base.html.twig" %}
{% block body %}

    <!-- DEBUT : Barre de navigation -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <img id='uplogo' src='{{ asset('bundles/universalpharmatraitement/images/universalpharmalogo.jpg') }}' alt='uplogo'/>
            </div> 
            <div class="navbar-header">             
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('universal_pharmatraitement_dashboard') }}">Tableau de bord</a></li>
                    <li><a href="{{ path('universal_pharmatraitement_cpuser') }}">Compte</a></li>
                    <li><a href="{{ path('universal_pharmatraitement_frais',{'id': 0}) }}">Gestion des frais</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><form class="navbar-form navbar-right" method="post" action="../controller/c_homepage.php">  
                            <button type="submit" class="btn btn-default">Déconnexion</button>
                        </form></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- FIN : Barre de navigation -->

    <!--DEBUT SOUS HEADER-->  
    <div class="col-md-12">    
        <div class="row" id="encart_vert">
            <div class="col-sm-1">
                <img id="picot-ss-head" src="{{ asset('bundles/universalpharmatraitement/images/frais.jpg') }}">
            </div>
            <div class="col-sm-2">
                <h5 id="sous_head">Bonjour {{ nom }}</h5>  
            </div>
            <div class="col-sm-9 text-right">
                <h5 id="sous_head">Rôle : {{ role }}</h5>
            </div>
        </div>
    </div> 
    <!--FIN SOUS HEADER-->  

    <!--DEBUT BLOC TEXTE--> 
    <div class="row">
        <div class="col-md-12 text-center"  >
            <br>
            <h2 id="titre_block-texte">Vos Gestions des frais</h2>
            <p id="block-texte">
                Choisissez un consultant et un état afin de consulter les frais.              
            </p>            
        </div>
    </div>
    <!--FIN BLOC TEXTE--> 

    <!-- DEBUT : FORMULAIRE -->
    {{form_start(formFF) }}
    <div class="container-fluid text-center">
        <div class="row col-md-offset-3 col-md-6" id="encart_gris">
            <br>
            {{form_widget(formFF.utilisateur) }}
            <br>
            {{form_widget(formFF.etatfrais) }}
            <br>
            {{form_widget(formFF.rechercher, {'attr': {'class': 'btn btn-success btn-sm'}}) }}
        </div>
    </div>
    {{form_end(formFF) }}
    <!-- FIN : FORMULAIRE -->

    <div class="col-md-12"></div>
    <div id="content">

        <!--DEBUT BLOC TEXTE--> 
        <div class="row">
            <div class="col-md-12 text-center"  >
                <br>
                {% if tabFF != null %}
                    <h2 id="titre_block-texte">Frais du consultant :</h2>
                    <p id="block-texte">
                        {{tabFF['0'].idutilisateur.nomutilisateur}} {{tabFF['0'].idutilisateur.prenomutilisateur}}     
                    </p>
                {% endif %}
            </div>
        </div>
        <!--FIN BLOC TEXTE--> 

        <!-- DEBUT : TABLEAU FF -->
        <div class="row">
            <table class="table table-striped table-responsive col-md-10 ">
                <caption id="encart_vert">Fiche de Frais</caption>
                <thead>
                    <tr>
                        <th>Année Mois</th>
                        <th>Nbre de Justif</th>
                        <th>Type Véhicule</th>
                        <th>Montant</th>
                        <th>Status</th> 
                        <th>Action</th> 
                    </tr>
                </thead>
                <tbody>
                    {% for item in tabFF %}
                        <tr>
                            <td>{{item.anneemoisligneff}}</td>
                            <td>{{item.nbjustifff}}</td>
                            <td>{{item.idvehicule.idvehicule}}</td>
                            <td>{{item.montantff}}</td>
                            <td>{{item.idstatfrais.idstatfrais}}</td>
                            <td>
                                {% if item.idstatfrais.idstatfrais == "CL" %}
                                    <a class="btn btn-success" href="{{ path('universal_pharmatraitement_frais_id',{'id': item.idff, 'type': "CL"}) }}">A Valider</a>
                                {% elseif item.idstatfrais.idstatfrais == "VA" %}
                                    <a class="btn btn-info" href="{{ path('universal_pharmatraitement_frais_id',{'id': item.idff, 'type': "VA"}) }}">Paiement</a>
                                {% elseif item.idstatfrais.idstatfrais == "MP" %}
                                    <a class="btn btn-warning" href="{{ path('universal_pharmatraitement_frais_id',{'id': item.idff, 'type': "MP"}) }}">Rembourser</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- FIN : TABLEAU FF -->

    {% endblock %}