{% extends "base.html.twig" %}
{% block body %}
    {#<!-- DEBUT : Barre de navigation -->#}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <img id='uplogo' src='{{ asset('bundles/universalpharmatraitement/images/universalpharmalogo.jpg') }}' alt='uplogo'/>
            </div> 
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav navbar-nav"><a href="{{ path('universal_pharmatraitement_homepage') }}">Accueil</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- DEBUT : FORMULAIRE-->
                    <li>
                        {{form_start(formconnexion, {'attr': {'class': 'navbar-form navbar-right'}}) }}
                        <div class ="form-group">
                            {{form_label(formconnexion.loginutilisateur, 'Login')}}
                            {{form_widget(formconnexion.loginutilisateur) }}
                        </div>
                        <div class ="form-group">
                            {{form_label(formconnexion.mdputilisateur, 'Mot de passe')}}
                            {{form_widget(formconnexion.mdputilisateur) }}
                        </div>
                        {{form_widget(formconnexion.Valider) }}
                        {{form_end(formconnexion) }}
                    </li>
                    <!-- FIN : FORMULAIRE-->
                </ul>
            </div>
        </div>
    </nav>
    <!-- FIN : Barre de navigation -->
    
    <!-- DEBUT : Message alerte -->
    {% for message in app.session.flashbag.get('succesMsg') %}
        <div class="alert alert-success" role="alert">{{ message }}</div> 
    {% endfor %}
    {% for message in app.session.flashbag.get('errMsg') %}
        <div class="alert alert-danger" role="alert">{{ message }}</div> 
    {% endfor %}
    <!-- FIN : Message alerte -->
    
    <!-- DEBUT : VIDEO de PRESENTATION -->
    <div class="embed-responsive embed-responsive-16by9">
        <video autoplay loop  controls="" class="embed-responsive-item">
            <source src="{{ asset('bundles/universalpharmatraitement/images/VIDEO_CCP01_2.mp4') }}" type="video/mp4">
        </video>     
    </div>
    <!-- FIN : VIDEO de PRESENTATION -->

    <div id="blanc" class="row"> 
        <div class="col-md-12"></div>               
    </div>

    <!-- DEBUT : LOGO -->
    <div class="container logo" id="logo_page">    
        <div class="row">
            <div class="col-sm-4 col-sm-push-4">
                <img src="{{ asset('bundles/universalpharmatraitement/images/universalpharmalogo.jpg') }}" class="img-responsive" alt="Image">
            </div>
        </div>
    </div>
    <!-- FIN : LOGO -->

    <div id="blanc" class="row"> 
        <div class="col-md-12"></div>               
    </div>

    <!-- DEBUT : ACCROCHE n°1 -->
    <div class="container-fluid text-center">    
        <div class="row" id="encart_vert">
            <div class="col-sm-4 col-sm-push-4">
                <br>
                <h3 class="texte_blanc">Universal Pharma <br>leader depuis 2012 du secteur industriel Pharmaceutique.<br></h3>
                <br>
                <br>
            </div>
        </div>
    </div>   
    <!-- FIN : ACCROCHE n°1 -->

    <div id="blanc" class="row"> 
        <div class="col-md-12"></div>               
    </div>

    <!-- DEBUT : LOGO -->
    <div class="container logo" id="logo_page">    
        <div class="row">
            <div class="col-sm-4 col-sm-push-4">
                <img src="{{ asset('bundles/universalpharmatraitement/images/universalpharmalogo.jpg') }}" class="img-responsive" alt="Image">
            </div>
        </div>
    </div>
    <!-- FIN : LOGO -->

    <div id="blanc" class="row"> 
        <div class="col-md-12"></div>               
    </div>
    <!-- DEBUT : BLOC TEXTE Qui Sommes Nous ?-->
    <div id="TITRE_Bloc_text_story" class="container-fluid text-center"> 
        <div class="col-md-12">
            <p>Qui Sommes Nous ?</p>
        </div> 
    </div>

    <div class="col-sm-6 col-xs-12">
        <p id="bloc_text_story">
            Universal Pharma comprend plusieurs laboratoires de recherche à Vitry/Seine et dix établissements qui fabriquent des médicaments.<br>
            <br>
            Universal Pharma est née de la fusion de pkusieurs firmes américaines (spécialisée dans le secteur des maladies virales dont le SIDA et les hépatites) et européennes.<br>
        </p>
    </div>  

    <div class="col-sm-6 col-xs-12">
        <p id="bloc_text_story">
            En 2012, les deux géants pharmaceutiques ont uni leurs forces pour créer un leader de ce secteur industriel.<br>
            <br>
            L'entité Universal Pharma Europe a établi son siège administratif à Paris.<br>
            <br>
            La France a été choisie comme témoin pour l'amélioration du suivi.
        </p>
    </div>
    <!-- FIN : BLOC TEXTE Qui Sommes Nous ?-->

    <div id="BigBlanc" class="row"> 
        <div class="col-xl-12"></div>               
    </div>    

    <!-- DEBUT : CAROUSSEL-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{{ asset('bundles/universalpharmatraitement/images/photo_carousel_01.jpg') }}" alt="Image" class='img-responsive'>
                <div class="carousel-caption">
                </div>      
            </div>

            <div class="item">
                <img src="{{ asset('bundles/universalpharmatraitement/images/photo_carousel_02.jpg') }}" alt="Image" class='img-responsive'>
                <div class="carousel-caption">
                </div>      
            </div>

            <div class="item">
                <img src="{{ asset('bundles/universalpharmatraitement/images/photo_carousel_03.jpg') }}" alt="Image" class='img-responsive'>
                <div class="carousel-caption">
                </div>      
            </div>

            <div class="item">
                <img src="{{ asset('bundles/universalpharmatraitement/images/photo_carousel_04.jpg') }}" alt="Image" class='img-responsive'>
                <div class="carousel-caption">
                </div>      
            </div>

            <div class="item">
                <img src="{{ asset('bundles/universalpharmatraitement/images/photo_carousel_05.jpg') }}" alt="Image" class='img-responsive'>
                <div class="carousel-caption">
                </div>      
            </div>
        </div>           
    </div>
    <!-- FIN : CAROUSSEL-->

    <div id="BigBlanc" class="row"> 
        <div class="col-xl-12"></div>               
    </div>

    <!-- DEBUT : PICTO UP-->
    <div class="row text-center" id="texte_picto">    
        <div class="row">
            <div class="col-sm-3 col-xs-3">
                <p><b>8 000</b><br>comptes mails</p>
                <br>
                <br>
                <img id="picto" src="{{ asset('bundles/universalpharmatraitement/images/email.png') }}" class="img-responsive" alt="Image">
            </div>
            <div class="col-sm-3 col-xs-3">
                <p><b>1</b> dizaines<br> d'applications<br> de gestion</p>  
                <br>
                <img id="picto" src="{{ asset('bundles/universalpharmatraitement/images/smartphone-call.png') }}" class="img-responsive" alt="Image">
            </div>
            <div class="col-sm-3 col-xs-3">
                <p><b>100 To</b> <br>de données <br>sauvegardées</p> 
                <br>
                <img id="picto" src="{{ asset('bundles/universalpharmatraitement/images/interface.png') }}" class="img-responsive" alt="Image">
            </div>
            <div class="col-sm-3 col-xs-3">
                <p><b>3000</b><br> postes<br> informatiques</p>
                <br>
                <img id="picto" src="{{ asset('bundles/universalpharmatraitement/images/computerlogo.png') }}" class="img-responsive" alt="Image">     
            </div>
        </div>
    </div>
    <!-- FIN : PICTO UP-->

    <div id="BigBlanc" class="row"> 
        <div class="col-md-12"></div>               
    </div>

    <!-- DEBUT : ACCROCHE n°2 -->
    <div class="container-fluid text-center">    
        <div class="row" id="encart_vert">
            <div class="col-sm-4 col-sm-push-4">
                <br>
                <h3 class="texte_blanc">Universal Pharma <br>c'est 1200 consultants médicaux.<br></h3>
                <br>
                <br>
            </div>
        </div>
    </div>
    <!-- FIN : ACCROCHE n°2 -->  
{% endblock %}

