{% extends "base.html.twig" %}

{% block body %}
    <!-- DEBUT : Barre de navigation -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <img id='uplogo' src='{{ asset('bundles/universalpharmatraitement/images/universalpharmalogo.jpg') }}' alt='uplogo'/>
            </div> 
            <div class="navbar-header">             
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('universal_pharmatraitement_dashboard') }}">Tableau de bord</a></li>
                    <li><a href="{{ path('universal_pharmatraitement_cpuser') }}">Compte</a></li>
                    <li><a href="{{ path('universal_pharmatraitement_frais') }}">Gestion des frais</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><form class="navbar-form navbar-right" method="post" action="../controller/c_homepage.php">  
                            <button type="submit" class="btn btn-default">Déconnexion</button>
                        </form></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- FIN : Barre de navigation -->

    <!--DEBUT SOUS HEADER-->  
    <div class="col-md-12">    
        <div class="row" id="encart_vert">
            <div class="col-sm-1">
                <img id="picot-ss-head" src="{{ asset('bundles/universalpharmatraitement/images/TBBORD.png') }}">
            </div>
            <div class="col-sm-2">
                <h5 id="sous_head">Bonjour {{ nom }}</h5>  
            </div>
            <div class="col-sm-9 text-right">
                <h5 id="sous_head">Rôle : {{ role }}</h5>
            </div>
        </div>
    </div> 
    <!--FIN SOUS HEADER-->

    <!--DEBUT BLOC TEXTE--> 
    <div class="col-md-12 text-center"  >
        <br>
        <h2 id="titre_block-texte">Mise à jour de votre mot de passe</h2>
        <p id="block-texte">
            Mettez à jour votre mot de passe.<br>
            <br>
        </p>
    </div>
    <!--FIN BLOC TEXTE--> 

    <div id="blanc" class="row"> 
        <div class="col-md-12"></div>               
    </div>

    <!-- DEBUT : Message alerte -->
    <div class="col-md-12 text-center"  >
        {% for message in app.session.flashbag.get('succesMsg') %}
            <div class="alert alert-success" role="alert">{{ message }}</div> 
        {% endfor %}
        {% for message in app.session.flashbag.get('errMsg') %}
            <div class="alert alert-danger" role="alert">{{ message }}</div> 
        {% endfor %}
    </div>
    <!-- FIN : Message alerte -->

    <div id="blanc" class="row"> 
        <div class="col-md-12"></div>               
    </div>

    <!-- DEBUT : FORMULAIRE -->
    {{form_start(formMDP) }}
    {{ form_errors(formMDP) }}
    <div class="col-md-12" >
        <div class="col-md-3 center-block" ></div>
        <div class="col-md-6 center-block" id="encart_vert">
            <br>                  

            <div class="form-group">
                {{form_label(formMDP.mdputilisateur, 'Ancien mot de passe :',{'attr': {'class': 'col-sm-4 control-label'}})}}
                <div class="col-sm-20">
                    {{ form_errors(formMDP.mdputilisateur) }}
                    {{form_widget(formMDP.mdputilisateur,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{form_label(formMDP.nouveaumdputilisateur.first, 'Nouveau mot de passe :',{'attr': {'class': 'col-sm-4 control-label'}})}}
                <div class="col-sm-20">
                    {{ form_errors(formMDP.nouveaumdputilisateur.first) }}
                    {{form_widget(formMDP.nouveaumdputilisateur.first,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{form_label(formMDP.nouveaumdputilisateur.second, 'Confirmation :',{'attr': {'class': 'col-sm-4 control-label'}})}}
                <div class="col-sm-20">
                    {{ form_errors(formMDP.nouveaumdputilisateur.second) }}
                    {{form_widget(formMDP.nouveaumdputilisateur.second,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-sm-24 center-block">
                    {{form_widget(formMDP.Modifier,{'attr': {'class': 'btn btn-success'}}) }}
                    {{form_widget(formMDP.Retour,{'attr': {'class': 'btn btn-inverse'}}) }}
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-3 center-block" ></div>
    </div>
    {{form_end(formMDP) }}
    <!-- FIN : FORMULAIRE -->  
{% endblock %}       